<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">What I learned</a></li>
				<li><a href="/about">What I did</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://softenop.wordpress.com/project/">Software</a></li>
	        		<li><a href="https://alexphillipsnz.github.io/">AlexPhillipsGitHub</a></li>
				</ul>
			</footer>
		</body>
	</html>
